<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Book</title>
</head>
<body>

<p>Edit book</p>
<br/>

<form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Name book: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="author">Name author: </label>
    <input type="text" th:field="*{authorName}" id="author"/>

    <br/>

    <label for="year">year book: </label>
    <input type="text" th:field="*{year}" id="year"/>

    <br/>

    <input type="submit" value="Update!"/>

</form>

</body>
</html>