<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book Add</title>
</head>
<body>


<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="authorName">Enter authorName: </label>
    <input type="text" th:field="*{authorName}" id="authorName"/>

    <br/>

    <label for="year">Enter year: </label>
    <input type="text" th:field="*{year}" id="year"/>


    <br/>

    <input type="submit" value="Create book!"/>

</form>
</body>
</html>